.screen1 {
padding-top: 50px;
// padding-bottom: 500px;
  &__info {
  }

  &__subtittle {
    @include mp0;
    @include cedarville;
    font-size: 28px;
    line-height: 53px;
    color: $textColor;

  }

  &__title {
    @include mp0;
    @include josefin;
    margin-bottom: 26px;
    margin-top: 26px;
    font-size: 63px;
    line-height: 63px;
    color: #000
  }

  &__link {
    @include josefin;
    padding: 12px 35px;
    background-color: $btnColor;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
  }

  &__picture {
    position: relative;
    background-color: #E3EBE7;
    width: 410px;
    height: 466px;
    overflow: unset;
  }
  & img {
    position: absolute;
    display: block;
    bottom: -50px;
    left: 30px;
    width: 344px;
    height: 373px;
    z-index: 2;
  }
    & span {
      position: absolute;
      bottom: 0px;
      left: 130px;
      @include cedarville;
      font-size: 72px;
      line-height: 136px;
      color: $textColor;
    }
  
}

.screen1-wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

