<footer class="footer">
  <div class="container">
    <div class="footer-wrp">
      <div class="footer__map">
        <img src="img/footer.png" alt="map">
      </div>
      <div class="footer__info">
        <h2 class="footer__title">Our address</h2>
        <span>110 St-Cathedral Pkwy Station</span>
        <span>4310 94th St, Flushing</span>
        <span>94-54 Corona Ave., Elmhurst</span>
        <span>5627 Van Doren St, Queens</span>
      </div>
    </div>
    <p class="footer__copy">2020 (c) - Samwyle bandtitos</p>
  </div>
</footer>
