<header class="header">
  <div class="container">
<div class="header-wrp">
  <div class="header__logo">
    <img src="img/svg/logo.svg" alt="site logo">
    <span>Samwayle</span>
  </div>
  <nav>
    <ul class="header__menu">
      <li class="header__item"><a href="#" class="header__link">About us</a></li>
      <li class="header__item"><a href="#" class="header__link">Promotion</a></li>
      <li class="header__item"><a href="#" class="header__link">Shop</a></li>
      <li class="header__item"><a href="#" class="header__link">Contacts</a></li>
      <li class="header__item"><a href="#" class="header__link header__link_activ">Contact Us</a></li>
    </ul>
  </nav>
</div>
  </div>
</header>
