<section class="screen3">
  <div class="container">
    <div class="screen3-wrp">
      <div class="screen3__item">
        <h2 class="screen__title">Americano</h2>
        <p class="screen__descr">The name Latte (from Italian “milk”) speaks about the main ingredient of the drink. It is recommended to take fat milk - at least 3.2%. In addition to it, milk foam.</p>
        <a href="#" class="screen3__link">Order now   </a>
      </div>
      <div class="screen3__item">
        <h2 class="screen__title">Latte</h2>
        <p class="screen__descr">The name Latte (from Italian “milk”) speaks about the main ingredient of the drink. It is recommended to take fat milk - at least 3.2%. In addition to it, milk foam.</p>
        <a href="#" class="screen3__link">Order now   </a>
      </div>
      <div class="screen3__item">
        <h2 class="screen__title">Espresso</h2>
        <p class="screen__descr">Espresso - black coffee made in a coffee machine or a special coffee machine, where hot water is passed through pressed ground beans at a pressure.</p>
        <a href="#" class="screen3__link">Order now   </a>
      </div>
    </div>
  </div>
</section>