<section class="screen2">
  <div class="container">
    <div class="screen2-wrp">
      <div class="screen2__item screen2__item_left">
        <div class="screen2__img">
          <span>About us</span>
          <img src="img/svg/screen2-img1.svg" alt="img">
        </div>
        <div class="screen2-info">
          <h2 class="screen2__title">Coffee Shop Samwayle</h2>
          <p class="screen2__descr">Only one moment - when the barista reaches out over the bar to transfer the cup to the outstretched hand of the buyer.
            But this is exactly the moment when a connection arises between us and our guests. </p>
          <p class="screen2__descr">And we strive to do our best to maintain this connection - starting with our commitment to selecting the highest quality coffee in the world and ending with how we interact with guests and organizations to fulfill our obligations.</p>
        </div>
      </div>
      <div class="screen2__item screen2__item_rigth">
        <div class="screen2-info">
          <h2 class="screen2__title">Coffee of the day</h2>
          <p class="screen2__descr">Americano coffee (Italian: Caffè Americano) is an espresso diluted with hot water. The presence of foam (cream) depends on how coffee and water are mixed.
            Attention! The concepts of “American” and “American coffee” should not be confused. n the second case, this refers not to diluted espresso, but to a drink prepared through a filter system.</p>
          <a href="#" class="screen2__link">Order now   </a>
        </div>
        <div class="screen2__img">
          <span>Promotion</span>
          <img src="img/svg/screen2-img2.svg" alt="img">
        </div>
      </div>
    </div>
  </div>
</section>